<div class="container col-sm-2 col-md-2 sidebar">
  <ul class="nav nav-sidebar col-sm-2 col-md-2">
    <li class="title"><a href="#" ng-click="store.filterProducts('ALL')"><strong>All Items</strong></a></li>
    <li class="title"><a href="#" ng-click="store.filterProducts('M1')"><strong>Men's Items</strong></a></li>
    <li><a href="#" ng-click="store.filterProducts('M2')">Footwear</a></li>
    <li><a href="#" ng-click="store.filterProducts('M3')">Casualwear</a></li>
    <li><a href="#" ng-click="store.filterProducts('M4')">Formalwear</a></li>
    <li class="title"><a href="#" ng-click="store.filterProducts('W1')"><strong>Women's Items</strong></a></li>
    <li><a href="#" ng-click="store.filterProducts('W2')">Footwear</a></li>
    <li><a href="#" ng-click="store.filterProducts('W3')">Casualwear</a></li>
    <li><a href="#" ng-click="store.filterProducts('W4')">Formalwear</a></li>
    <li class="title"></li>
  </ul>
</div>

<div class="col-sm-offset-2 col-md-offset-2">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background: url(assets/images/spring.jpg) no-repeat left center; background-size: cover;">
        <div class="carousel-caption">
          <h1>Spring is here.</h1>
          <p>Check out our great new range.</p>
        </div>
      </div>
      <div class="item" style="background: url(assets/images/flipflops.jpg) no-repeat left center; background-size: cover;">
        <div class="container">
          <div class="carousel-caption">
            <h1>Flip Flops.</h1>
            <p>We sell awesome flip flops.</p>
          </div>
        </div>
      </div>
      <div class="item" style="background: url(assets/images/formalwear.jpg) no-repeat left center; background-size: cover;">
        <div class="container">
          <div class="carousel-caption">
            <h1>Formalwear.</h1>
            <p>Or why not something more formal?</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" target="_self">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" target="_self">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!--   <div class="container" id="sort-menu">
    <form>
      Sort products by: <select ng-init="store.sortingOption = 'category'" ng-model="store.sortingOption">
        <option value="category">Category</option>
        <option value="name">Alphabet</option>
        <option value="price">Price: Low to High</option>
        <option value="-price">Price: High to Low</option>
      </select>
    </form>
  </div> -->

  <section class="container">
    <article ng-repeat="product in store.products | filter:store.selectedFilter:true | orderBy:store.sortingOption" class="col-md-4">
      <div class="product" id="product{{ product.id }}">
        <p><strong>{{ product.name }}</strong><br>
        {{ product.category }}<br></p>
        <img class="item-picture" src="assets/images/clothes.jpg">
        <p class="description">{{ product.price | currency:"£" }}<br>
        {{ product.quantity }} in stock</p>
        <form>
          Quantity: <select name="quantity" ng-init="store.orderQuantity[product.id] = 1" ng-model="store.orderQuantity[product.id]">
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
          </select>
          <button ng-click="store.addToCart(product.id)" class="btn btn-primary">Add to <span class="glyphicon glyphicon-shopping-cart"></span></button>
        </form>
      </div>
    </article>
  </section>
  
  <div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <br>
        </div>
        <div class="modal-body">
          <h4>{{ store.message }}.</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
