<div class="container">
  
  <div id="cart-header">
    <h1>Your Shopping Cart</h1>
    <p ng-show="store.isCartEmpty()" class="empty-cart">The cart is empty</p>
  </div>

  <table ng-hide="store.isCartEmpty()" class="table table-striped" id="cart-table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Category</th>
      <th>Quantity</th>
      <th class="price-column">Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in store.cart.items" id="item{{ item.id }}">
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>
          <form>
            <select name="quantity" ng-init="store.newQuantity[item.id] = item.quantity" ng-model="store.newQuantity[item.id]" ng-change="store.amendItemQuantity(item.id, item.quantity, store.newQuantity[item.id])">
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
            </select>
          </form>
        </td>
        <td class="price-column">{{ item.price | currency:"£" }}</td>
        <td>
          <button ng-click="store.removeFromCart(item.id, item.quantity)" class="btn btn-primary">Remove</span></button>
        </td>
      </tr>
      <tr>
        <td></td><td></td>
        <td class="price-column">Subtotal:</td>
        <td class="price-column">{{ store.cart.sumOfItemPrices | currency:"£" }}</td><td></td>
      </tr>
      <tr ng-show="store.isVoucherDiscount()">
        <td></td><td></td>
        <td class="price-column">Voucher Discount:</td>
        <td class="price-column">{{ store.cart.voucherDiscount | currency:"£" }}</td><td></td>
      </tr>
      <tr ng-show="store.isSpendDiscount()">
        <td></td><td></td>
        <td class="price-column">Spend Discount:</td>
        <td class="price-column">{{ store.cart.spendDiscount | currency:"£" }}</td><td></td>
      </tr>
      <tr>
        <td colspan="2">
          <form id="voucher-form" class="form-inline" ng-hide="store.isCartEmpty()">
            <div class="form-group">
              <input type="text" ng-model="store.voucherCode" class="form-control" name="code" placeholder="Enter voucher code">
            </div>
            <button class="btn btn-primary" ng-click="store.applyVoucherDiscount()">Apply Discount</button>
          </form>
        </td>
        <td class="price-column"><strong>Total Price:</strong></td>
        <td class="price-column"><strong>{{ store.cart.totalPrice | currency:"£" }}</strong></td><td></td>
      </tr>
    </tbody>
  </table>

</div>

<div class="modal fade" id="voucher-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <br>
      </div>
      <div class="modal-body">
        <h4>{{ store.message }}.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
